<div>
  <select [(ngModel)]="selectedCountry" (change)="updateChart(selectedCountry)">
    <option *ngFor="let country of allCountries" [value]="country">{{ country }}</option>
  </select>
  <canvas id="myChart" width="400" height="400"></canvas>
  <br>
  <br>
  <canvas id="myChart1" width="400" height="400"></canvas>
  <br>
  <br>
  <canvas id="myChart2" width="400" height="400"></canvas>

</div>


<!-- <div>
  <h2>Dashboard</h2>
  <label for="category">Select Category:</label>
  <select id="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)">
    <option value="topic">likelihood</option>
    <option value="sector">Sector</option>
 Add more options based on your data properties -->
  <!-- </select> -->
  <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
<!-- </div> --> 
