<div class="dashboard-container">
  <h1>Visualization Dashboard
  </h1>
  
  <div class="select-country">
    <select [(ngModel)]="selectedCountry" (change)="updateChart(selectedCountry)">
      <option *ngFor="let country of allCountries" [value]="country">{{ country }}</option>
    </select>
  </div>

  <div class="chart-container">
    <div class="cart"><canvas id="myChartBar"></canvas></div>
    <div class="cart"><canvas id="myChart2bar"></canvas></div>
    <div class="cart"><canvas id="myChart4Line"></canvas></div>
    <div class="cart"><canvas id="myChart5Bar"></canvas></div>
    <div class="cart"><canvas id="myChart1Pie"></canvas></div>
    <div class="cart"><canvas id="myChart3PolarArea"></canvas></div>



    
  </div>
</div>